<h2>Welcome to Ember</h2>
<a href="http://romulomachado.github.io/2015/09/28/using-ember-simple-auth-with-devise.html">http://romulomachado.github.io/2015/09/28/using-ember-simple-auth-with-devise.html</a>
<br />

{{#link-to 'login'}}Login{{/link-to}}
